<div class="container">
    <div class="row">

        <!--Content długi-->
        <div class="col-md-8">
            <h3 class="header-balance">{{userName}} - bilans długów</h3>

            <!--Do oddania-->
            <div class="col-md-12">
                <table class="table table-hover margin-top">

                    <thead class="btn-info">
                        <tr>
                            <th>Dług</th>
                            <th>Kwota</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let owe of owesGroupByList">

                        <tr *ngIf="userId === owe.userId" [routerLink]="['/owes-details', owe.debtorId, owe.userId, owe.userName, owe.debtorName]">
                            <td>{{ owe.debtorName }}</td>
                            <td>{{ countDebtsAndOwes(owe.debtorId, owe.owesAmount)}}</td>
                            <td><span (click)="removeExpense(expense.id)" class="fa fa-times"></span></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

        <!--Prawa kolumna-->
        <div class="col-md-4">
            <div class="list-group side-bar">

                <!--Grupy-->
                <a class="list-group-item list-group-item-action list-header">Należy do :</a>
                <ul>
                    <ng-container *ngFor="let user of usersGroupsList">
                        <a class="list-group-item list-group-item-action" *ngIf="user.userId == userId">
                            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.groupName}}
                            <i (click)="removeUserGroup(user.groupId)" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
                        </a>
                    </ng-container>
                </ul>

            </div>
        </div>
    </div>
</div>