<div class="container">
    <div class="row">

        <!--Content długi-->
        <div class="col-md-8 clear-padding">
            <h5 class="header-balance">{{userName}} - bilans długów</h5>

            <!--Dług-->
            <div class="col-md-12">
                <table class="table table-hover margin-top">

                    <thead class="btn-info">
                        <tr>
                            <th>Dług</th>
                            <th>Kwota</th>
                            <th>Spłać</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let owe of owesGroupByList">
                            <tr *ngIf="userId === owe.userId && (countDebtsAndOwes(owe.debtorId, owe.owesAmount)) !==0" style="cursor: pointer">
                                <td [routerLink]="['/owes-details', owe.debtorId, owe.userId, owe.userName, owe.debtorName]">{{ owe.debtorName }}</td>
                                <td [routerLink]="['/owes-details', owe.debtorId, owe.userId, owe.userName, owe.debtorName]" class="font-weight-bold" [style.color]="(countDebtsAndOwes(owe.debtorId, owe.owesAmount) < 0) ? 'red' : 'green'">{{ countDebtsAndOwes(owe.debtorId, owe.owesAmount)}} zł</td>
                                <td><span class="fa fa-times delete-owe-icon" (click)="removeOwe(userId, owe.debtorId)"></span></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let owe of owesGroupByList">
                            <ng-container *ngIf="userId === owe.debtorId">
                                <tr *ngIf="showDebts(owe.debtorId, owe.userId,owe.owesAmount) < 0" style="cursor: pointer">
                                    <td [routerLink]="['/owes-details', owe.debtorId, owe.userId, owe.userName, owe.debtorName]">{{ owe.userName }}</td>
                                    <td [routerLink]="['/owes-details', owe.debtorId, owe.userId, owe.userName, owe.debtorName]" class="font-weight-bold" [style.color]="(showDebts(owe.debtorId, owe.userId, owe.owesAmount) < 0) ? 'red' : 'green'">{{ showDebts(owe.debtorId, owe.userId, owe.owesAmount)}} zł</td>
                                    <td><span class="fa fa-times delete-owe-icon" (click)="removeOwe(userId, owe.debtorId)"></span></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                    <br>
                    <tbody>


                    </tbody>

                </table>
            </div>
        </div>

        <!--Prawa kolumna-->
        <div class="col-md-4">
            <div class="list-group side-bar">

                <!--Grupy-->
                <a class="list-group-item list-group-item-action list-header">Należy do :</a>
                <ul>
                    <ng-container *ngFor="let user of usersGroupsList">
                        <a class="list-group-item list-group-item-action" *ngIf="user.userId == userId">
                            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.groupName}}
                            <i (click)="removeUserGroup(user.groupId)" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
                        </a>
                    </ng-container>
                </ul>

            </div>
        </div>
    </div>
</div>