<h3 class="lead header-balance">{{expenseName}} - szczegóły</h3>
<p class="lead">Kwota rachunku: <span class="lead font-weight-bold">{{expenseAmount}} zł</span>
</p>
<table class="table table-hover">
    <thead class="btn-info">
        <tr>
            <th>Użytkownik</th>
            <th>Zapłacił</th>
            <th>Należność</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let expense of userExpense">
            <tr *ngIf="expenseId === expense.expenseId" [routerLink]="['/owes', expense.userName, expense.userId]" style="cursor: pointer">
                <td scope=" row ">{{expense.userName}}</td>
                <td class="font-weight-bold " style="color: green ">{{expense.paidShare}} zł</td>
                <td class="font-weight-bold " style="color: red ">{{expense.owedShare}} zł</td>
            </tr>
        </ng-container>
    </tbody>
</table>