<div class="container">
    <div class="row">

        <!--Content długi-->
        <div class="col-md-8">
            <h1>userComponent</h1>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Należność</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let owe of owesGroupByList">
                            <tr *ngIf="owe.userId === userId">
                                <td scope="row">{{owe.debtorName}}</td>
                                <td class="debt-amount">{{owe.owesAmount}} zł</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Do oddania</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let owe of owesGroupByList">
                            <tr *ngIf="userId === owe.debtorId">
                                <td scope="row">{{owe.userName}}</td>
                                <td class="owe-amount">{{owe.owesAmount}} zł</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--Prawa kolumna-->
        <div class="col-md-4 table-bordered">
            <div class="list-group side-bar">

                <!--Grupy-->
                <a class="list-group-item list-group-item-action list-header">Należy do :</a>
                <ul>
                    <ng-container *ngFor="let user of usersGroupsList">
                        <a class="list-group-item list-group-item-action" *ngIf="user.userId == userId">
                            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.groupName}}
                            <i (click)="removeUserGroup(user.groupId)" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
                        </a>
                    </ng-container>
                </ul>

            </div>
        </div>
    </div>
</div>