<div class="container">
    <div class="row">

        <!--Content-->
        <div class="col-md-8 table-bordered">
            <h1>userComponent</h1>
        </div>

        <!--Prawa kolumna-->
        <div class="col-md-4 table-bordered">
            <div class="list-group side-bar">

                <!--Grupy-->
                <a class="list-group-item list-group-item-action list-header">Należy do :</a>
                <ul>
                    <ng-container *ngFor="let user of usersGroupsList">
                        <a class="list-group-item list-group-item-action" *ngIf="user.userId == userId">
                            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.groupName}}
                            <i (click)="removeUserGroup(user.groupId)" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
                        </a>
                    </ng-container>
                </ul>

            </div>
        </div>
    </div>
</div>