<!--Left-bar-->
<div class="list-group side-bar">

    <ul>
        <a class="list-group-item list-group-item-action list-header">Grupy
            <i class="fa fa-users pull-right" aria-hidden="true" title="Dodaj grupę" data-toggle="modal" data-target="#addGroupModal"></i>
        </a>

        <a [routerLink]="['/expenses', group.name, group.id]" *ngFor="let group of groupsList" class="list-group-item list-group-item-action">
            <i class="fa fa-tag users-groups-icon" aria-hidden="true"></i>{{group.name}}
            <i data-target="#removeGroupModal" (click)="redirectGroupId(group.id)" data-toggle="modal" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
        </a>
    </ul>

    <ul>
        <a class="list-group-item list-group-item-action list-header">Użytkownicy
            <i class="fa fa-user-plus pull-right" aria-hidden="true" title="Dodaj użytkownika" data-toggle="modal" data-target="#addUserModal"></i>
        </a>

        <a [routerLink]="['/owes', user.name, user.id]" class="list-group-item list-group-item-action" *ngFor="let user of usersList">
            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.name}}
            <i (click)="redirectGroupId(user.id)" data-toggle="modal" data-target="#removeUserModal" class="fa fa-trash-o pull-right" title="Usuń" aria-hidden="true"></i>
        </a>
    </ul>

</div>

<!-- Dodaj grupę Modal -->
<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form [formGroup]="newGroupForm">
            <div class="modal-content">

                <!--Nagłowek-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Dodaj grupę:</h4>
                </div>

                <!--Content-->
                <div class="modal-body">
                    <div class="form-group">
                        <input [maxLength]=14 type="text" formControlName="name" class="form-control" aria-describedby="helpId" placeholder="Nazwa..." required>
                        <div *ngIf="newGroupForm.get('name').touched && newGroupForm.get('name').hasError('required')" class="alert alert-danger">
                            Name is required.
                        </div>
                    </div>
                </div>

                <!--Stopka-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" (click)="addNewGroup()" [disabled]="!newGroupForm.value.name">Zapisz</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Dodaj użytkownika Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form [formGroup]="newUserForm" (ngSubmit)="addNewUser()">
            <div class="modal-content">

                <!--Nagłowek-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Dodaj użytkownika:</h4>
                </div>

                <!--Content-->
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" formControlName="name" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="Nazwa użytkownika..." required>
                        <br>
                        <input type="text" formControlName="email" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="Email..." required>
                        <div *ngIf="newUserForm.get('name').touched && newUserForm.get('name').hasError('required')" class="alert alert-danger">
                            Name and email are required.
                        </div>
                    </div>
                </div>

                <!--Stopka-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!newUserForm.value.name || !newUserForm.value.email">Zapisz</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Usuń grupę Modal -->
<div class="modal fade" id="removeGroupModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form>
            <div class="modal-content">

                <!--Nagłowek-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Czy na pewo chcesz usunąć grupę?</h4>
                </div>

                <!--Stopka-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                    <button type="button" class="btn btn-primary" (click)="removeGroup(newGroupId)" data-dismiss="modal"> Tak</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Usuń użytkownika Modal -->
<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form>
            <div class="modal-content">

                <!--Nagłowek-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Czy na pewo chcesz usunąć użytkownika?</h4>
                </div>

                <!--Stopka-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                    <button type="button" class="btn btn-primary" (click)="removeUser(newGroupId)" data-dismiss="modal"> Tak</button>
                </div>

            </div>
        </form>
    </div>
</div>