<div class="container">
    <div class="row">

        <!--Content-->
        <div class="col-md-8">
            <button type="button" class="btn btn-primary container-fluid font-weight-bold" data-target="#addBillModal" data-toggle="modal">Dodaj nowy wydatek</button>
            <div class="container-fluid margin-top clear-padding" *ngFor="let expense of expensesList">
                <div class="list-inline bill-style" *ngIf="expense.groupId === groupId">
                    <div class="bill-border"></div>
                    <div class="pull-left container-fluid bill-style-left">
                        <span class="center-block text-center bill-style-day">{{expense.date | date:'dd'}}</span>
                        <span class="center-block bill-style-month">{{expense.date | date:'MMM'}}</span>
                    </div>
                    <div style="position: relative" class="container-fluid">
                        <div [routerLink]="['/expenses-details', expense.id, expense.name, expense.amount]">
                            <span class="bill-style-right">{{expense.name}}</span>
                            <span class="bill-amount">{{expense.amount}} zł</span>
                        </div>
                        <span (click)="removeExpense(expense.id)" class="bill-delete fa fa-times pull-right" title="Usuń wydatek"></span>
                    </div>
                    <div class="bill-border"></div>
                </div>
            </div>
        </div>

        <!--Prawa kolumna-->
        <div class="col-md-4">
            <div class="list-group side-bar">

                <!--Lista użytkownikow dla danej grupy-->
                <a class="list-group-item list-group-item-action list-header">{{groupName}}:
                  <i class="fa fa-user-plus pull-right" aria-hidden="true" title="Dodaj nowego użytkownika do grupy" data-toggle="modal" data-target="#addUserGroupModal"></i>
                </a>
                <ul>
                    <ng-container *ngFor="let user of usersGroupsList">
                        <a class="list-group-item list-group-item-action" *ngIf="user.groupId == groupId">
                            <i class="fa fa-user users-groups-icon" aria-hidden="true"></i>{{user.userName}}
                            <i (click)="removeUserGroup(user.userId)" class="fa fa-trash-o pull-right" title="Usuń znajomego z grupy" aria-hidden="true"></i>
                        </a>
                    </ng-container>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Dodaj użytkownika Modal -->
<div class="modal fade" id="addUserGroupModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <form [formGroup]="newUserGroupForm" (ngSubmit)="addNewUserGroup()">
            <div class="modal-content">

                <!--Nagłowek-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Dodaj użytkownika do grupy:</h4>
                </div>

                <!--Content-->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userId">Wybierz z listy:</label>
                        <select formControlName="userId" class="form-control">
                            <option *ngFor="let user of usersList" value="{{user.id}}" >
                                {{user.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <!--Stopka-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!newUserGroupForm.value.userId">Zapisz</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Dodaj rachunek Modal -->
<div class="modal fade" id="addBillModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">

            <!--Nagłowek-->
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Dodaj rachunek:</h4>
            </div>

            <!--Content-->
            <div class="modal-body">
                <div class="form-group">

                    <div class="container">
                        <label for="billName">Nazwa:&nbsp;&nbsp;</label><input type="text" name="billName" id="billName" [(ngModel)]="newBillName" /> <br>
                        <label for="billAmount">Kwota: &nbsp;&nbsp;</label><input width="50" f name="billAmount" id="billAmount" type="number" [(ngModel)]="newBillAmount" />
                    </div>

                    <div class="container-fluid">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Imię: </th>
                                    <th>Zapłacił:</th>
                                    <th>Winien:</th>
                                </tr>
                            </thead>

                            <!--Dodawanie rachunku-->
                            <tbody>
                                <ng-container *ngFor="let user of usersGroupsList">
                                    <tr *ngIf="user.groupId === groupId">
                                        <td>{{user.userName}}</td>
                                        <td><input style="width: 50px" type="number" [(ngModel)]="user.paid" /></td>
                                        <td><input style="width: 50px" type="number" [(ngModel)]="user.debt" /></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!--Stopka-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" (click)="addNewBill()" class="btn btn-primary">Dodaj</button>
            </div>

        </div>
    </div>
</div>