<!-- Logo -->
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid btn-info">
            <header>
                <h2 id="logo">ShareCosts</h2>
            </header>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-top">
        <!-- Lewa kolumna -->
        <div class="col-md-2 clear-padding">
            <app-menu></app-menu>
        </div>

        <!-- Kontent + prawa kolumna -->
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>