/* You can add global styles to this file, and also import other style files */

body {
    color: #4d4d4d;
    font-family: 'Lato', sans-serif;
    background-image: url('./body-bg.png');
}

.clear-padding {
    padding: 0;
}

#logo {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}

.side-bar ul {
    padding: 0;
    margin-bottom: 20px;
    border: #e7e7e7 1px solid;
    border-radius: 5px;
}

.side-bar ul a {
    border: 0;
    padding-left: 15px;
    -webkit-box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
    box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
}

.side-bar ul a:hover {
    background: #eee;
    color: #23527c;
}

.list-header {
    background-color: #e6e6e6;
    font-weight: 600;
}

.users-groups-icon {
    margin-right: 7px;
}

.pull-right {
    line-height: 22px;
    cursor: pointer;
}