/* You can add global styles to this file, and also import other style files */

body {
    color: #4d4d4d;
    font-family: 'Lato', sans-serif;
    background-image: url('./body-bg.png');
}

.clear-padding {
    padding: 0;
}

#logo {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}

.side-bar ul {
    padding: 0;
    margin-bottom: 20px;
    border: #e7e7e7 1px solid;
    border-radius: 5px;
}

.side-bar ul a {
    border: 0;
    padding-left: 15px;
    -webkit-box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
    box-shadow: -10px 10px 58px -16px rgba(0, 0, 0, 0.53);
}

.side-bar ul a:hover {
    background: #eee;
    color: #23527c;
}

.list-header {
    background-color: #e6e6e6;
    font-weight: 600;
}

.users-groups-icon {
    margin-right: 7px;
}

.pull-right {
    line-height: 22px;
    cursor: pointer;
}

.bill-style-day {
    font-size: 20px;
}

.bill-style-right {
    font-size: 18px;
    line-height: 3;
    padding-left: 15px;
}

.bill-style-left {
    border-left: solid 3px lightgrey;
    border-right: solid 3px lightgrey;
    font-weight: 700;
    width: 65px;
}

.bill-border {
    color: lightgray;
    border: 1px solid lightgrey;
    opacity: 0.3;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bill-style {
    margin-top: 5px;
    margin-left: 3px;
    opacity: 0.9;
}

.bill-style:hover {
    color: rgb(44, 162, 198);
    opacity: 1;
    background-color: white;
    cursor: pointer;
}

.bill-style:hover .bill-style-left {
    color: black;
    border-left: rgb(44, 162, 198) 3px solid;
    opacity: 1;
}

.bill-delete {
    color: palevioletred;
    line-height: 3;
    font-size: 18px;
}

.debt-amount {
    color: green;
    font-weight: 700;
}

.owe-amount {
    color: red;
    font-weight: 700;
}

.header-balance {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.delete-owe-icon {
    color: red;
    margin-left: 10px;
}